:root {
  --main-color: white;
  --banner-color: red;
  --button-color: #fbd46d;
  --text-color: #222831;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: rgb(233, 231, 212);
  margin: 0;
}

.top-banner {
  /* TODO update to flexbox */
  background: linear-gradient(90deg, #4f8a8b 0%, #f76b8a 50%);
  width: 100vw;
  margin: 0;
  height: 60px;
  display: flex; /* Flex container, enabling flexible layout for its child elements. buttons */
  align-items: center; /* Vertically centers the child elements (buttons) within the banner. */
}

.top-banner h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.top-banner button {
  background-color: var(--button-color); /* Example: white background */
  color: black;
  border: 0px; /* Example: red text */
}

#create-event-button {
  margin-left: 50px; /* Add some space from the left edge */
  padding: 10px 20px; /* Add some padding for better appearance */
  border: none; /* Remove default border */
  border-radius: 5px; /* Optional: add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

#my-events-button {
  margin-left: 20px; /* Add some space between the buttons */
  padding: 10px 20px; /* (height, width) Add some padding around the text for better appearance */
  border: none; /* Remove default border */
  border-radius: 5px; /* Optional: add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Styling for users.html */

.user-page-content {
  text-align: center;
}

#user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.user-card {
  background: #fff;
  border: 2px solid #4f8a8b;
  border-radius: 12px;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  min-width: 250px;
  max-width: 250px;
  text-align: center;
}

#users-button {
  margin-left: 20px;
  padding: 10px 20px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-bar {
  margin-left: auto;
  margin-right: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: text;
}

#notification-button {
  /* Pushes the remaining buttons to the right */
  margin-right: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#profile-button {
  margin-right: 20px;
  padding: 20px;
  border: none;
  border-radius: 50%; /* Makes the button circular */
  cursor: pointer;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f76b8a;
  width: 50vw;
  height: 100vh;
  margin-top: 5vh;
  margin-bottom: 25vh;
  margin-left: 25vw;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4f8a8b;
  min-width: 20vw;
  min-height: 30vh;
  margin-top: 5%;
  border-radius: 16px;
  /* padding: 1rem 3rem 5rem; */
}

.profile-buttons {
  margin: 10px;
}

.activity-feed-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4f8a8b;
  margin-top: 5%;
  min-width: 20vw;
  min-height: 30vh;
  border-radius: 16px;
  /* padding: 1rem 3rem 5rem; */
}

.sign-in-container {
  text-align: center;
  font-size: 1.3rem;
}
.sign-in-container input {
  font-size: 1.3rem;
}
.sign-in-container button {
  font-size: 1.3rem;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign-up-container form {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Adds space between fields */
  width: 300px; /* Optional: set a fixed width for the form */
}

.create-event-section {
  width: 40vw;
  min-height: 60vh;
  background-color: white;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cancel-button {
  margin-right: auto;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.create-event-section h2 {
  text-align: center;
}

.create-event-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
